<div id="${id}">
    <svg style="height:${height}px; width:${width}px; background:${background};"></svg>
    <div style="background:${background}">
        <span style="${button}">SVG</span>
    </div>
</div>

<script>
nv.addGraph(function() {
    var chart = nv.models.${chart}();

    if ("${chart}" == "scatterChart") {
        chart
            .showDistX(true)
            .showDistY(true);
    }

    chart
        .color(d3.scale.category10().range());

    chart.xAxis.tickFormat(d3.format('.02f'))
    chart.yAxis.tickFormat(d3.format('.02f'))

    d3.select('#${id} svg')
        .datum(${data})
        .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
});

var buttons = document.getElementById('${id}').children[1].children;
buttons[0].onclick = function() {
    var svg = document.getElementById('${id}').children[0];
    var svg = (new XMLSerializer).serializeToString(svg);
    window.URL = window.webkitURL || window.URL;

    var bb = new Blob([svg], {type:'text/svg'});

    var a = document.createElement('a');
    a.download = 'chart.svg';
    a.href = window.URL.createObjectURL(bb);
    a.textContent = 'Save!';
    a.dataset.downloadurl = ['text/svg', a.download, a.href].join(':');

    document.getElementById('${id}').children[1].appendChild(a);

    a.onclick = function(e) {
        setTimeout(function() {
            window.URL.revokeObjectURL(a.href);
        }, 1500);
        a.remove();
    };

    a.click();
}; 
</script>
