<div style="display:inline-block; position:relative;">

    <a href="${filename}" target="_blank" style="text-decoration:none;">
        <img id="${id}" src="${filename}" width=${width}/ style="image-rendering: -webkit-optimize-contrast;">
    </a>

    <div style="position:absolute; z-index:10; font-family:Helvetica; top:0px; padding:0px 2px; margin:2px; background:rgba(0,0,0,0.5); color:rgba(200,200,200,1);">
        ${legend}
    </div>

</div>

<script>
    if (${refresh}) {
        setInterval(function() {
            var img = document.getElementById("${id}");
            img.src = "${filename}?"+new Date().getTime();
        }, ${refresh});
    }
</script>
